* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: #3399cc;
	border: 18px solid #2b81ac;
	height: 100%;
}
.h1 {
    color: white;
    width: 50%;
    margin: 20px 40px;
}
.container {
    display:block;
    margin: auto;
    list-style-type: none;
    font-size: 0;
    padding: 0 40px;
}
.Lisabon {
    display: inline-block;
    background-color: rgb(48, 48, 230) ;
    width: 50%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.Paris {
    display: inline-block;
    background-color: rgb(31, 190, 230) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.wi {
    opacity: 50%;
}
.Belgrade {
    display: inline-block;
    background-color: rgb(116, 43, 9) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.Moscow {
    display: inline-block;
    background-color: rgb(248, 26, 37) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.TelAviv {
    display: inline-block;
    background-color:rgb(245, 177, 52) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.Cair {
    display: inline-block;
    background-color:rgb(245, 242, 52) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.NewYork {
    display: inline-block;
    background-color:rgb(134, 231, 78) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.NewDelhi {
    display: inline-block;
    background-color:rgb(19, 9, 112) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.SanFrancisco {
    display: inline-block;
    background-color:rgb(119, 31, 115) ;
    width: 50%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.Tokyo {
    display: inline-block;
    background-color:rgb(50, 138, 123) ;
    width: 25%;
    text-align: center;
    color: white;
    border: 3px white;
    font-size: 24px;
}
.Sydney {
    display: inline-block;
    background-color:rgb(184, 56, 223) ;
    width: 100%;
    text-align: center;
    color: white;
    border-bottom: 5px white;
    font-size: 24px;
}
.li {
    opacity: 0,5;
    cursor: pointer;
} 
.li:hover {
    opacity: 1;
}
.Wish {
    color: white;
    display: inline-block;
    padding: 20px 40px;
}
.container:hover> li {
    opacity: 0.5;
}
.container>li:hover{
    opacity: 1;
    transition: opacity 0.5s;
}